.select {
  width: fit-content;
  position: relative;
  z-index: 2;

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__backdrop {
      display: block;
    }

    .text-field {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid var(--dark-shade-50);
      border-bottom: none;
    }

    .dropdown::after {
      border: none;
      border-top: 2px solid var(--dark-shade-50);
      border-right: 2px solid var(--dark-shade-50);
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    padding: 13px 7px 17px 15px;
    border: 1px solid var(--dark-shade-50);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;

    &.border-none {
      border: none !important;
      padding: 0 !important;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    margin-right: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-minus,
  &__item-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -45px;
    font-size: 18px;
    color: var(--dark-shade-50);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--dark-shade-50);
    cursor: pointer;
  }

  &__item-minus {
    right: 25px;
    display: none;

    &::after {
      content: '-';
      position: absolute;
      top: 2px;
    }
  }

  &__apply-wrap {
    position: relative;
    height: 55px;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--purple);
  }

  &__clear,
  &__apply {
    position: absolute;
    right: 0;
    bottom: 13px;
    cursor: pointer;
  }

  &__clear {
    display: none;
    width: fit-content;
    left: 0;
  }
}
