@import '../../theme/scss/variables.scss';
@import '../../theme/scss/mixins/material-icons.scss';

.pagination {
  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    color: $color-first;
    user-select: none;

    @media (min-width: 390px) {
      width: 40px;
      height: 40px;
    }

    &._type_arrow-prev,
    &._type_arrow-next {
      background: $gradient-secondary;

      &::before {
        @include material-icons;
        content: 'arrow_forward';
        color: #fff;
      }

      &:hover {
        opacity: 0.7;
      }

      &:focus {
        outline: none;
        box-shadow: $box-shadow-primary;
      }

      &:focus:not(:focus-visible) {
        box-shadow: unset;
      }

      &:focus-visible {
        outline: none;
        box-shadow: $box-shadow-primary;
      }

      &:active {
        opacity: 1;
        box-shadow: unset;
      }
    }

    &._type_arrow-prev::before {
      content: 'arrow_back';
    }

    &._type_start-ellipsis,
    &._type_end-ellipsis {
      cursor: default;

      &::before {
        content: '...';
      }
    }

    &._selected {
      background: $gradient-primary;
      color: #fff;
      font-weight: 700;
    }
  }

  &__description {
    text-align: center;
  }
}
