mixin pagination()

  .pagination.js-pagination
    .pagination__container
      button.pagination__item._type_arrow-prev.--none
      .pagination__item._selected.js-start-value 1
      .pagination__item._type_start-ellipsis.--none
      .pagination__item.js-additional-item.--none
      .pagination__item
      .pagination__item
      .pagination__item._type_end-ellipsis
      .pagination__item.js-end-value 15
      button.pagination__item._type_arrow-next
    p.pagination__description
      span
      span &nbsp;-&nbsp;
      span
      |   из 100+ вариантов аренды
