@import '../../theme/scss/variables.scss';
@import '../../theme/scss/mixins/titles.scss';
@import '../../theme/scss/mixins/material-icons.scss';

.button {
  @include h3;
  $r: &;
  position: relative;
  display: inline-block;
  min-width: 87px;
  max-width: 320px;
  width: 100%;
  min-height: 40px;
  padding: 0 15px;
  border-radius: 22px;
  border: 2px solid transparent;
  background: #fff;
  background-clip: padding-box;
  color: $color-second;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: inherit;
    background: $gradient-primary;
  }

  &:hover::before {
    opacity: .5;
  }

  &:focus {
    box-shadow: $box-shadow-primary;
  }

  &:active {
    box-shadow: unset;
  }

  &:active::before {
    opacity: 1;
  }

  &._theme_filled {
    color: #fff;
    background: $gradient-primary;
    background-clip: padding-box;

    &:hover {
      opacity: 0.5;
    }

    &:active::before,
    &:active {
      opacity: 1;
    }
  }

  &._theme_textual {
    background: transparent;
    padding: 0;
    min-width: fit-content;
    max-width: fit-content;
    min-height: fit-content;

    &#{$r}::before {
      background: transparent;
    }

    &:hover {
      color: $color-first;
    }

    &:focus {
      box-shadow: unset;
      color: $color-first;
    }

    &:active {
      color: $color-second;
    }
  }

  &._with-arrow,
  &._with-dropdown-arrow {
    padding: 0 35px;

    &::after {
      @include material-icons;
      content: 'arrow_forward';
      color: #fff;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &._with-dropdown-arrow {
    max-width: 265px;

    &::after {
      content: 'expand_more';
      color: $color-second;
      font-size: 29px;
      right: 12px;
      transition: .5s;
    }
  }

  &._is-clicked {
    &._with-dropdown-arrow::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: inherit;
  }
}
