.main {
  display: flex;
  justify-content: space-around;
}

.tt {
  width: 100px;
  height: 100px;
  width: 100px;
  height: 100px;
  background: #000;
  color: #fff;
  text-align: center;
  vertical-align: center;

  &:last-child {
    order: -1;
  }

  &:nth-child(2) {
    order: -2;
  }

}

.grid {

  display: grid;
  // grid-template-columns:  200px 200px 200px;
  // grid-template-columns: repeat(5, 200px) ;
  grid-template-columns: auto;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: 200px repeat(auto-fill, 100px);
  // grid-template-columns: repeat(15, 1fr 2fr)
  // grid-auto-rows: 100px;


  margin: 20px;
  background: red;
}

.rr {
  color: #fff;
  width: 20px;
  height: 20px;
  background: #000;

  // &:nth-child(1) {
  //   // grid-column-start: 1;
  //   // grid-column-end: 4;
  //   grid-column: 1 / 4;
  //   grid-row-start: 1;
  //   grid-row-end: 3;
  //   width: 100%;
  //   height: 100%;
  // }
}

#grid {
  margin: 20px;

  display: grid;
  height: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px;
}

#item1 {
  background-color: lime;
}

#item2 {
  background-color: yellow;
  grid-column: 2 / 4;
}

#item3 {
  background-color: blue;
  grid-column: span 2 / 7;
}