extends ../base/base

block append variables
  -
    const title = 'Colors & Types';
    const keywords = 'toxin, toxin цветовые палитры, toxin варианты текста, ui-kit';
    const description = 'Список цветовых палитр и вариантов текста';
  include ./uikit-data

block main
  - data = htmlWebpackPlugin.options.getData()
  //- - data = require('./src/pages/uikit/data.json')
  body
    h1 FFFFFFFFFFFFFFFFFFF
    h1.h1 FFFFFFFFFFFFFFFFFFF
    h1.h11 FFFFFFFFFFFFFFFFFFF
    a(href="./index.html") tttttttttt
    //- img(src="../src/components/dropdown/img/include.jpg", alt="wwwwwwww")
    img(src="../src/components/button/img/logo.svg", alt="wwwwwwww")
    //- img(src="../img/logo.svg", alt="wwwwwwww")
    //- img(src="../src/components/button/img/header.png", alt="wwwwwwww")
    nav.menu__list.js-menu__list
      for item in data.links
        a.menu__item(href = item.href)= item.name
    nav.menu__list.js-menu__list
      for item in locals.menuItems
        a.menu__item(href = item.href)= item.name
    nav.menu__list.js-menu__list
      for item in locals.guestMneuItems
        a.menu__item(href = item.href)= item.name
    input.input(type="text" placeholder="gggggggggggggg")

    .main 
      .tt 1
      .tt 2
      .tt 3

    .grid 
      //- .rr*7{$}
      .rr 1
      .rr 2
      .rr 3
      .rr 4
      .rr 5
      .rr 6
      .rr 7

    #grid
      #item1
      #item2
      #item3

      



       
    


//- "бронирование номеров, поиск номеров, найти номер"

//- "Сайт по поиску номеров в отеле 'Toxin'"

