.advantages {
  max-width: 280px;

  &__item {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 23px auto;
    grid-column-gap: 10px;
    padding-bottom: 23px;
    margin-bottom: 24px;
    border-bottom: 1px solid  rgba(31, 32, 65, 0.1);
  }

  &__item-icon {
    grid-row-end: span 2;
    justify-self: center;
  }
}
