extends ../base/base
include ../../components/logo/logo
include ../../components/container/container
include ../../components/heading/heading

block variables
  -
    const lang = 'ru'
    const title = 'Form elements'
    const keywords = 'Toxin, form elements, interactive components'
    const description = 'Page, where situated most of interactive components in different states.'
    const bodyClassName = 'f-e-page'
    const data = htmlWebpackPlugin.options.getData()

block main
  // abbreviation "f-e-page" means "form-elements-page"
  .f-e-page-logo
    +logo
  +container
    main.f-e-page-content
      +heading({level: '1', title: 'GGGGGGGGGGGGG'})
      +heading({level: 1, title: 'GGGGGGGGGGGGG'})
      +heading({title: 'GGGGGGGGGGGGG'})
      +heading
      section.f-e-page-column
      section.f-e-page-column
      section.f-e-page-column
      section.f-e-page-column
      section.f-e-page-column._type_reviews Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem iusto laboriosam nihil odio quis. Quis exercitationem error sunt ipsa delectus vel, ipsum, voluptate voluptates, illo temporibus debitis fugiat atque autem.
