@import '../../theme/scss/variables.scss';

.f-e-page {
  padding: 10rem 0 9.2857rem;

  &-logo {
    position: absolute;
    top: 2.1429rem;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $large-phone-width) {
      transform: translateX(0%);
      left: 1.0714rem;
    }

    @media (min-width: $desktop-width) {
      left: 2.0714rem;
    }
  }

  &-content {
    display: grid;
    justify-items: center;
    grid-row-gap: 20px;

    @media (min-width: $phone-width) {
      grid-template-columns: repeat(2, minmax(215px, auto));
      grid-column-gap: 10px;
    }

    @media (min-width: $small-tablet-width) {
      grid-template-columns: repeat(3, minmax(239px, auto));
    }

    @media (min-width: 1010px) {
      grid-template-columns: repeat(3, 320px);
      justify-content: space-between;
    }
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // margin: 0 auto;
    // max-width: 711px;

    // @media (min-width: $large-phone-width) {
    //   justify-content: space-between;
    // }

    // @media (min-width: 910px) {
    //   max-width: unset;
    // }
  }


  &-column {
    // min-width: 290px;
    max-width: 320px;
    min-height: 100px;
    background: #000;
    color: #FFF;

    // &:not(:last-child) {
    //   margin-bottom: 20px;
    // }

    // @media (min-width: $large-phone-width) {
    //   max-width: 290px;
    // }

    // @media (min-width: 680px) {
    //   max-width: 320px;
    // }

    // @media (min-width: 910px) {
    //   max-width: 290px;
    // }

    // @media (min-width: 970px) {
    //   max-width: 320px;
    // }

    &._type_reviews {
      max-width: 320px;

      @media (min-width: $large-phone-width) {
        max-width: 610px;
        grid-column-end: span 2;
      }

      @media (min-width: $small-tablet-width) {
        max-width: 711px;
      }

      @media (min-width: 1010px) {
        justify-self: start;
      }
      // max-width: 711px;
      // height: auto;
      // grid-column-end: span 2;
      // justify-self: center;
    }
  }
}