extends ../base/base
include ../../components/logo/logo
include ../../components/container/container
include ../../components/heading/heading

block variables
  -
    const lang = 'ru'
    const title = 'Form elements'
    const keywords = 'Toxin, form elements, interactive components'
    const description = 'Page, where situated most of interactive components in different states.'
    const bodyClassName = 'f-e-page'
    const data = htmlWebpackPlugin.options.getData()

block main
  // abbreviation "f-e-page" means "form-elements-page"
  .f-e-page-logo
    +logo
  +container
    main.f-e-page-content
      section.f-e-page-column Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, provident ab repellat dolore sunt qui ratione vero itaque molestiae quisquam eligendi facilis distinctio nisi cum commodi voluptatem velit, corrupti asperiores!
      section.f-e-page-column._type_reviews Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem iusto laboriosam nihil odio quis. Quis exercitationem error sunt ipsa delectus vel, ipsum, voluptate voluptates, illo temporibus debitis fugiat atque autem.
      section.f-e-page-column Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, provident ab repellat dolore sunt qui ratione vero itaque molestiae quisquam eligendi facilis distinctio nisi cum commodi voluptatem velit, corrupti asperiores!
      section.f-e-page-column Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, provident ab repellat dolore sunt qui ratione vero itaque molestiae quisquam eligendi facilis distinctio nisi cum commodi voluptatem velit, corrupti asperiores!
      section.f-e-page-column Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, provident ab repellat dolore sunt qui ratione vero itaque molestiae quisquam eligendi facilis distinctio nisi cum commodi voluptatem velit, corrupti asperiores!
      section.f-e-page-column._type_reviews Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem iusto laboriosam nihil odio quis. Quis exercitationem error sunt ipsa delectus vel, ipsum, voluptate voluptates, illo temporibus debitis fugiat atque autem.
      section.f-e-page-column Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sit in deleniti qui unde fuga soluta ratione, amet quaerat dolorem reiciendis architecto consequatur illum perferendis quia cumque libero dolor ullam.
      section.f-e-page-column Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi ducimus tempora commodi ipsam et dicta ipsa id dolores eligendi temporibus quibusdam molestias ullam perferendis, minima deleniti. Autem vel reiciendis quo.
      section.f-e-page-column._type_reviews Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem iusto laboriosam nihil odio quis. Quis exercitationem error sunt ipsa delectus vel, ipsum, voluptate voluptates, illo temporibus debitis fugiat atque autem.
