extends ../base/base
include ../../components/ui-logo/ui-logo
include ../../components/container/container
include ../../components/heading/heading
include ../../components/text-field/text-field
include ../../components/checkbox/checkbox
include ../../components/checkbox-list/checkbox-list
include ../../components/radio-button/radio-button
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/star-rating/star-rating
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/dropdown/dropdown
include ../../components/advantages/advantages
include ../../components/comments/comments

block variables
  -
    const lang = 'ru'
    const title = 'Form elements'
    const keywords = 'Toxin, ui-kit, form elements, интерактивные элементы проекта "Toxin"'
    const description = 'Страница, на которой расположено большинство интерактивных элементов проекта "Toxin" в разных состояниях'
    const bodyClassName = 'f-e-page'
    const {textFields, checkboxList, bulletList, advantagesList, commentsList} = htmlWebpackPlugin.options.getData()

block main
  // abbreviation "f-e-page" means "form-elements-page"
  h1.f-e-page__title Интерактивные элементы проекта "Toxin"
  .f-e-page__logo
    +ui-logo
  +container
    main.f-e-page__content
      h2.f-e-page__subtitle А вот и они!

      section.f-e-page-column
        each textField in textFields
          - const {title, value, placeholder, readonly, hasDropdownArrow, mask, explanatorySubtitle} = textField
          .f-e-page-column__text-field-states
            +text-field({
              title: title,
              type: type,
              name: name,
              value: value,
              placeholder: placeholder,
              readonly: readonly,
              hasDropdownArrow: hasDropdownArrow,
              mask: mask,
             })
            if explanatorySubtitle
              span.f-e-page-column__explanatory-subtitle= explanatorySubtitle
        .f-e-page-column__dates-dropdown
          .f-e-page-column__date-dropdown
            +text-field({title: 'date Dropdown', isDateDropdown: true})
          .f-e-page-column__date-dropdown
            +text-field({title: 'date Dropdown', value: '19.08.2019', readonly: true, hasDropdownArrow: true})
        .f-e-page-column__filter-date-dropdown
          +text-field({title: 'filter date dropdown', readonly: true, hasDropdownArrow: true, value: '19 авг - 23 авг'})
        .f-e-page-column__subscription-text-field
          +text-field({title: 'subscription text field', hasButton: true, placeholder: 'Email'})

      section.f-e-page-column
        .f-e-page-column__checkbox-buttons
          +checkbox-list({title: 'Checkbox Buttons', checkboxList: checkboxList})
        .f-e-page-column__radio-buttons
          +radio-button({isChecked: true})
          +radio-button({labelText: 'Женщина', value: 'female'})
        .f-e-page-column__toggle
          h3.f-e-page-column__toggle-title toggle
          +toggle({isChecked: true})
          +toggle()
        .f-e-page-column__like-button
          h3.f-e-page-column__like-button-title like button
          +like-button({text: '2', isActivated: false})
          +like-button()
        .f-e-page-column__rate-button
          h3.f-e-page-column__rate-button-title rate button
          +star-rating({rating: 4})
          +star-rating({rating: 5})

      section.f-e-page-column
        .f-e-page-column__range-slider
          +range-slider()
        .f-e-page-column__buttons
          h3.f-e-page-column__buttons-title buttons
          .f-e-page-column__buttons-grid
            +button({type: 'submit', theme: 'filled'})
            +button({type: 'link'})
            +button({theme: 'textual'})
          +button({theme: 'filled', type: 'submit', hasArrow: true, text: 'перейти к оплате'})
        .f-e-page-column__pagination
          h3.f-e-page-column__pagination-title pagination
          +pagination()

      section.f-e-page-column
        .f-e-page-column__room-facilities-dropdown
          +dropdown()

      section.f-e-page-column
        .f-e-page-column__guest-amount-dropdown
          +dropdown({type: 'guest-amount'})

      section.f-e-page-column
        .f-e-page-column__bullet-list
          +checkbox-list({title: 'bullet list', checkboxList: bulletList, theme: 'bullet'})

      section.f-e-page-column
        .f-e-page-column__advantages
          +advantages({advantagesList: advantagesList})

      section.f-e-page-column._size_large
        .f-e-page-column__comments
          +comments({commentsList: commentsList})
