@import '../../theme/scss/mixins/titles.scss';
@import '../../theme/scss/mixins/material-icons.scss';

.checkbox-list {
  $r: &;

  &._theme_bullet {
    #{$r}__title {
      margin-bottom: 14px;
    }

    #{$r}__checkbox {
      margin-bottom: 11px;
    }
  }

  &._is-expandable {
    #{$r}__title {
      cursor: pointer;
    }

    #{$r}__title::before {
      @include material-icons;
      content: 'expand_more';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: .5s;
    }

    #{$r}__list {
      display: none;
    }

    &._expanded {
      #{$r}__title::before {
        transform: translateY(-50%) rotate(180deg);
      }

      #{$r}__list {
        display: block;
      }
    }
  }

  &__title {
    @include h3;
    position: relative;
    padding-right: 24px;
    margin-bottom: 17px;
  }

  &__checkbox:not(:last-child) {
    margin-bottom: 14px;
  }
}
