@import '../../theme/scss/variables.scss';

.heading {
  font-family: $main-font;
  font-weight: 700;
  color: $color-first-darkest;

  &._level_1 {
    font-size: 1.7143rem;
    letter-spacing: -0.0714rem;
    line-height: 2.2857rem;
  }

  &._level_2 {
    font-size: 1.3571rem;
    letter-spacing: -0.0714rem;
  }

  &._level_3 {
    font-size: 0.8571rem;
    text-transform: uppercase;
  }

  &._font_quicksand {
    font-family: $second-font;
    letter-spacing: unset;
  }
}
