mixin heading ({level = '3', title, font} = {})

  -
    let className = 'heading _level_'
    const fontModifier = `_font_${font}`

  case level
    when "1"
      h1(class=`${className}${level}`)= title
    when "2"
      h2(class= font ? `${className}${level} ${fontModifier}` : `${className}${level}`)= title
    default
      h3(class=`${className}${level}`)= title
