mixin checkbox( {labelText, labelClarification, description, isChecked, theme} = {} )
  -
    const classWithDescription = description && '_with-description'
    const themeModifiers = {
      bullet: '_theme_bullet'
    }
    const classes = [classWithDescription, themeModifiers[theme]]
    const inputAttributes = {
      type: 'checkbox',
      checked: isChecked,
      disabled: theme === 'bullet'
    }

  .checkbox(class = classes)
    label.checkbox__label= labelText
      if labelClarification
        br
        | #{labelClarification}
      input.checkbox__input&attributes(inputAttributes)
    if description
      p.checkbox__description= description
