extends ../base/base
include ../../components/logo/logo
include ../../components/container/container
include ../../components/heading/heading

block variables
  -
    const lang = 'ru'
    const title = 'Colors & Type'
    const keywords = 'Toxin, ui-kit, list of colors, type variants'
    const description = 'List of colors and type variants that are used in the project'
    const bodyClassName = 'c-t-page'
    const {colors, type} = htmlWebpackPlugin.options.getData()

block main
  // abbreviation "c-t-page" means "colors-and-type-page"
  .c-t-page-logo
    +logo
  +container
    main.c-t-page-content
      article.colors
        for i in colors
          - const {color, title, value = '#1F2041'} = i
          section.colors__color
            div(class=`colors__color-example ${color}`)
            .colors__color-name
              +heading({level: 2, title: title, font: 'quicksand'})
            p.colors__color-value= value
      article.type
        for i in type
          - const {tagNameSize = '', tagName, headingLevel, sampleText} = i
          div(class=`type__recommended-tag-name ${tagNameSize}`)= tagName
          .type__sample-text
            if headingLevel
              +heading({level: headingLevel, title: sampleText})
            else
              p.type__paragraph= sampleText