@import '../../theme/scss/variables.scss';

.c-t-page {
  padding: 10.3571rem 0 3.5714rem;

  &-logo {
    position: absolute;
    top: 2.1429rem;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $large-phone-width) {
      transform: translateX(0%);
      left: 1.0714rem;
    }

    @media (min-width: $desktop-width) {
      left: 2.0714rem;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.7143rem, 1fr));
    justify-content: space-between;

    @media (min-width: $desktop-width) {
      padding-right: 3.3571rem;
      padding-left: 0.6429rem;
    }
  }

  .colors {
    width: 20.7143rem;
    margin: 0 auto 3.5714rem;

    @media (min-width: $large-phone-width) {
      width: fit-content;
      margin: 0;
    }

    &__color {
      display: grid;
      grid-template-columns: 5rem auto;
      grid-template-rows: auto auto;
      column-gap: 2.8571rem;

      &:not(:last-child) {
        margin-bottom: 1.4286rem;
      }
    }

    &__color-example {
      width: 5rem;
      height: 5rem;
      border-radius: 0.4286rem;
      grid-row: 1/3;
      align-self: center;

      &._color_first-darkest {
        background: $color-first-darkest;
      }

      &._color_first-darker {
        background: $color-first-darker;
      }

      &._color_first {
        background: $color-first;
      }

      &._color_first-lighter {
        background: $color-first-lighter;
      }

      &._color_first-lightest {
        background: $color-first-lightest;
      }

      &._color_second {
        background: $color-second;
      }

      &._color_third {
        background: $color-third;
      }
    }

    &__color-name {
      align-self: end;
    }

    &__color-value {
      font-family: Quicksand, Arial, sans-serif;
      font-size: 1.3571rem;
      font-weight: 400;
      align-self: center;
    }
  }

  .type {
    display: grid;
    grid-template-columns: max-content minmax(auto, 24.2857rem);
    grid-gap: 3.4286rem 2.1429rem;
    width: fit-content;
    margin: 0 auto;
    grid-auto-rows: max-content;

    @media (min-width: $large-phone-width) {
      margin: 0;
      justify-self: end;
    }

    &__recommended-tag-name {
      color: $color-first-lighter;
      justify-self: end;

      &._size_large {
        font-size: 1.7143rem;
      }

      &._size_medium {
        font-size: 1.3571rem;
      }

      &._size_small {
        font-size: 0.8571rem;
      }
    }

    &__paragraph {
      max-width: 22.6429rem;
      line-height: 1.7857rem;
    }
  }
}
