extends ../base/base

block variables
  -
    const title = "Colors & Type";
    const keywords = "Toxin, ui-kit, list of colors, type variants";
    const description = "List of colors and type variants that are used in the project";

block main
  a(class="tr" href="./uikit.html") uikit
