@import '../../theme/scss/variables.scss';

.socials {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;

  &__link {
    display: inline-block;
    line-height: 0;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: 1;
    }
  }

  &__link + &__link {
    margin-left: 23px;
  }

  & img {
    display: inline-block;
  }
}
