$main-font: Montserrat, Arial, sans-serif;
$second-font: Quicksand, Arial, sans-serif;
$main-font-size: 14px;
$default-text: 400 1rem $main-font;

$color-first-darkest: rgb(31, 32, 65);
$color-first-darker: rgba(31, 32, 65, 0.75);
$color-first: rgba(31, 32, 65, 0.5);
$color-first-lighter: rgba(31, 32, 65, 0.25);
$color-first-lightest: rgba(31, 32, 65, 0.05);
$color-second: #BC9CFF;
$color-third: #6FCF97;

$gradient-primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

$box-shadow-primary: 5px 5px 15px rgba(#000, .4);

$small-phone-width: 320px;
$phone-width: 480px;
$large-phone-width: 640px;
$small-tablet-width: 768px;
$tablet-width: 992px;
$large-tablet-width: 1024px;
$small-desktop-width: 1280px;
$desktop-width: 1440px;
